# 2captcha API key (daftar di https://2captcha.com)
CAPTCHA_API_KEY=

# IMAP credentials (untuk cek OTP)
IMAP_USER=
IMAP_PASSWORD=
IMAP_HOST=74.125.24.108
IMAP_PORT=993
IMAP_SERVERNAME=imap.gmail.com

# Pilih sector (uncomment salah satu)
# SECTOR_ID=3afa4c3a-2074-40c3-b9d0-4cfd7bd4c4a9
# SUBSECTOR_ID=37de9453-2fa6-4313-bd23-d4f98a5c1469
# COMPANY_NAME=Galeri 24 Pegadaian

# SECTOR_ID=20311763-6465-4daf-9602-a74bb316c94c
# SUBSECTOR_ID=43988074-7483-4508-bdd0-9beaeacf1fb7
# COMPANY_NAME=Pegadaian

SECTOR_ID=3afa4c3a-2074-40c3-b9d0-4cfd7bd4c4a9
SUBSECTOR_ID=37de9453-2fa6-4313-bd23-d4f98a5c1469
COMPANY_NAME=Galeri 24 Pegadaian
