# 2captcha API key (daftar di https://2captcha.com)
CAPTCHA_API_KEY=

# IMAP credentials (untuk cek OTP)
IMAP_USER=
IMAP_PASSWORD=
IMAP_HOST=74.125.24.108
IMAP_PORT=993
IMAP_SERVERNAME=imap.gmail.com
